.pop
{
	width: 250px;
	font-family: "Microsoft YaHei";
	padding-bottom: 30px;
}
.pop .poptitle
{
	display: block;
	font-size: 16px;
	padding-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
}
.pop .popul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.pop .popul li
{
	margin: 9px 0 0 5px;
	overflow: hidden;
}
.pop .popul li:first-child
{
	margin-top: 10px;
}
.pop .popul .rank
{
	width: 18px;
	height: 18px;
	background: #DEDEDE;
	text-align: center;
	line-height: 18px;
	color: white;
	font-size: 12px;
	float: left;
}
.pop .popul .rankcon
{
	display: block;
	width: 220px;
	height: 18px;
	margin-left: 7px;
	font-size: 13px;
	color: #6D6D6D;
	overflow: hidden;
	float: left;
}
.pop .popul .rankcon a
{
	font-size: 13px;
	color: #6D6D6D;
	text-decoration: none;
}
.pop .popul .rankcon a:hover {
	color: #32c388;
}
.pop .popul li:nth-child(1) .rank
{
	background: #F92B07;
}
.pop .popul li:nth-child(1) .rankcon a
{
	color: black;
}
.pop .popul li:nth-child(1) .rankcon a:hover
{
	color: #32c388;
}
.pop .popul li:nth-child(2) .rankcon a:hover
{
	color: #32c388;
}
.pop .popul li:nth-child(3) .rankcon a:hover
{
	color: #32c388;
}
.pop .popul li:nth-child(2) .rank
{
	background: #F92B07;
}
.pop .popul li:nth-child(2) .rankcon a
{
	color: black;
}
.pop .popul li:nth-child(3) .rank
{
	background: #F92B07;
}
.pop .popul li:nth-child(3) .rankcon a
{
	color: black;
}