.student
{
	width: 250px;
	font-family: "Microsoft YaHei";
	overflow: hidden;
}
.student .stutitle
{
	display: block;
	font-size: 16px;
	padding-bottom: 15px;
	border-bottom: 1px solid #DDDDDD;
}
.student .stutitle a
{
	float: right;
	font-size: 12px;
	color: black;
	text-decoration: none;
	margin-top: 5px;
}
.student .stucon
{
	margin-top: 10px;
	overflow: hidden;
	width: calc(100% + 10px);
	width: -moz-calc(100% + 10px);
	width: -webkit-calc(100% + 10px);
	width: -ms-calc(100% + 10px);
	margin-left: -10px;
	padding-bottom: 40px;
}
.student .stucon .stu
{
	width: 55px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.student .stucon .stu .stuimg
{
	width: 55px;
	height: 55px;
	overflow: hidden;
	border-radius: 4px;
	background: #E7C3C3;
}
.student .stucon .stu .stuimg img
{
	width: 100%;
}
.student .stucon .stu span
{
	display: block;
	margin-top: 2px;
	text-align: center;
	font-size: 12px;
}














