<div id='resrtpwd' class="form-signup">
    <div id='errplaceholder'></div>

    <h2 class="form-signin-heading">修改密码</h2>
    <input type="hidden" value="{{email}}" id="email" />
    <input type="hidden" value="{{captcha}}" id="captcha"  />

    <div class="form-group">
        <input id="password" name="password" type="password" placeholder="输入新密码" class="form-control" required="" autofocus="">
    </div>
    <div class="form-group">
        <input id="password2" name="password2" type="password" placeholder="密码确认" class="form-control" required="" autofocus="">
    </div>

    <div class="form-group row">
        <button class="btn btn-primary btn-sm col-md-4 col-md-offset-7" type="submit" name="submit_reset">提交</button>
    </div>
</div>

{{#section 'appjs'}}
    <script src="/script/sign/resetpassword.js"></script>
{{/section}}