body {
	font-family: "Microsoft Yahei"!important;
}
.conbody {
	border: 1px solid #E4E4E4;
}
.refer{
	font-size: 15px;
	float: left;
	margin-left: 20px;
  margin-top: -37px;
}
.message{
	width: 100%;
}
table{
	width:100%;
}
/*左侧菜单栏修改*/
#accordion{
	box-shadow: 0px 0px 0px 1px #E0E1E1;
	font-family: "Microsoft Yahei"!important;
	margin-top: 46px;
}

/***** 右侧部分 *******/
#costdiv {
  margin-left: 25%;
  margin-top: 30px;
  font-size: 15px;
  letter-spacing: 3px;
}
#msgdiv {
  margin-left: 25%;
  margin-top: 30px;
}
.msgInfo {
  font-size: 15px;
  letter-spacing: 3px;
}
#cost {
  width: 50px;
  height: 20px;
}
#msg {
  margin-left: 20px;
}
#email {
  margin-left: 20px;
}
#submitbtn {
  width: 120px;
  height: 30px;
  line-height: 30px;
  color: white;
  background: #3CCC86;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  margin: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
#footer {
  text-align: left;
  margin-left:33%;
  margin-top: 4%;
  margin-bottom: 8%;
}
.dropdown {
	cursor: pointer;
}