.upper{
  background-color:lightslategrey;
  /*z-index: 5;*/
} 
#big #editHead{
  float: right;
  padding-right: 0px;
  margin-top: -45px;
}
#big #topTitle{
  font-size: 18px;
  font-family: "Microsoft YaHei";
  margin-bottom: 15px;
}
#big #topConfig{
  width: 1000px;
  height: 200px;
}
#big #topConfig .erweima{
  position: relative;
  margin-right: 46px;
}
#big #topConfig .navul{
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 20px;
}
#big #topConfig .navul li{
  float: left;
  margin-left: 40px;
}
#big #topConfig .navul li{
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}
#big #topConfig .couslin{
  display: table;
  float: right;
  margin-left: 20px;
  color: black;
  font-size: 15px;
}
#big #topConfig .sear{
  width: 180px;
  height: 28px;
  float: right;
  border: 1px solid #e1e1e1;
  margin-top: 25px;
  overflow: hidden;
}
#big #topConfig .sear input{
  height: 26px;
  width: 150px;
  float: left;
  padding-left: 10px;
  border: lightslategrey;
  background-color: lightslategrey;
  color:lightslategrey;
}
#big #topConfig .sear #searImg{
  float: right;
  height: 28px;
  margin-top: 0px;
  margin-top: -1px;
}
#big #topConfig .head{
  background: #434343;
  color: white;
  height: 40px;
  line-height: 40px;
}
#big #topConfig .head img{
  margin-top: 12px;
}
#big #topConfig .head span{
  float: right;
  margin-right: 20px;
}
#big #topConfig .head span{
  color: white;
  text-decoration: none;
}
#big #topConfig .nav{
  height: 80px;
  line-height: 80px;
  border-bottom: 2px solid #F2F2F2;
}
#big #topConfig .nav img{
  width: 110px;
  height: 45px;
  float: left;
  margin-top: 18px;
}
#big #editFoot{
  float: right;
  padding-right: 20px;
  margin-right: -13px;
  margin-top: -45px;
}
#big #footTitle{
  font-size: 18px;
  font-family: "Microsoft YaHei";
  margin-bottom: 15px;
}
#big #footConfig{
  width: 1000px;
  height: 200px;
}
#big #footConfig .foot{
  /*z-index: 1;*/
  height: 80px;
  background: #303030;
}
#big #footConfig .foot .footul{
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 16px;
  margin: auto;
  margin-top: 32px;
}
#big #footConfig .foot .footul li{
  float: left;
  padding-left: 20px;
  padding-right: 18px;
  border-right: 2px solid white;
  height: 14px;
  line-height: 14px;
}
#big #footConfig .foot .footul li:last-child{
  border-right: #303030;
}
#big #footConfig .foot .footul li{
  color: white;
  text-decoration: none;
}
#big #publish{
  width: 100px;
  height: 40px;
  border: 0px solid #699;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-top: -70px;
}
.clear{
  clear: both;
}
.modal-content #topDiv{
  margin-bottom: 30px;
}
.modal-content #publicTop{
  cursor: pointer;
  margin-right: 10px;
}
.modal-content #logo{
  cursor: pointer;
  margin-left: 10px;
}
.modal-content .textChain{
  text-align: center;
  margin-top: -13px;
}
.modal-content .link{
  width: 60%;
  float: left;
  margin-left: 22%;
  margin-top: 1%;
}
.modal-content .footlink{
  width: 60%;
  float: left;
  margin-left: 12%;
  margin-top: 1%;
}
.modal-content #addLink{
  margin-top: 2%;
  margin-left: 37%;
}
.modal-content .delLink{
  margin-top: 2%;
  margin-left: -12%;
}
.modal-content #qrcode{
  width: 80%;
  margin-left: 13%;
  margin-top: 30px;
}
.modal-content #qrText{
  float: left;
}
.modal-content #qrlink{
  width: 75%;
  margin-left: 12%;
  margin-top: 2%;
}
.modal-content #qrhandle{
  margin-top: -18px;
}
.modal-content #modify{
  width: 30px;
  float: left;
  margin-left: 110px;
  color: blue;
  cursor: pointer;
}
.modal-content #delete{
  width: 30px;
  float: left;
  margin-left: 148px;
  margin-top: -20px;
  color: blue;
  cursor: pointer;
}
.modal-content #plogo{
  width: 300px;
  margin-left: 6%;

}
.modal-content #logoModify{
  float: left;
  margin-top: 63px;
  margin-left: 20px;
  cursor: pointer;
}
.modal-content .delbLink{
  margin-top: 2%;
  margin-left: 2%;
}