<div class="container">
  <div class="load">
    <span><a href="/personal?url=/personal" style="color:lightgreen">用户中心</a></span>&nbsp;>&nbsp;
    <span><a href="/personal?url=/personal">账号管理</a></span>&nbsp;>&nbsp;
    <span><a href="/myaccount">账户资金</a></span>
  </div>
  <div class="pubmenu" style="float:left;width:13%;">
    <!-- nav -->
  </div>
  <div class="con" style="margin-top:20px;">
    <div class="contitle">
      <span class="refer">银行卡</span>
    </div>
    <div style="clear: none;margin-bottom: 10px;"></div>
  </div>
  <div class="conbody" style=" width:85%;float:right;padding: 10px;border: 1px solid #DDDDDD">
      <div class="row myaccount">
        <div class="col-md-12">
          <label>提现银行卡</label>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="mycard"></div>
          <div id = "test"></div>
        </div>


      </div>

  </div>
</div>
{{#section 'appjs'}}
<script>
  var realName = {{{jstringfiy user.name}}};
</script>
<script src="/account/mycard/bundle.js"></script>
{{/section}}
{{#section 'appcss'}}
<link rel="stylesheet" href="/account/mycard/bundle.css">
{{/section}}

