ul,ol {margin:0;}

.viewFramework-product {
    background: #eaedf1;
}

.console-container {
    padding: 0px
}

.home-gap {
    height: 12px;
    width: 1px;
    display: inline-block;
    background: #d3d3d3;
    margin: 1px 24px;
    vertical-align: text-bottom
}

.home-section-main {
    margin: 0 8px;
    padding: 8px 0;
    position: relative
}



.home-section-wrap {
    padding: 8px
}

.home-section-lego * {
    box-sizing: content-box
}

.home-section-user, .home-section-topic {
    height: 180px
}

.home-section-notice, .home-section-user, .home-section-topic,
.home-section-trends, .home-section-product, .home-section-situation {
    background: #fff
}

.home-section-left {
    padding-right: 336px
}

.home-section-right {
    width: 336px;
    position: absolute;
    top: 8px;
    right: 0
}


.home-section-notice {
    height: 30px;
    position: relative
}

.home-section-notice .notice-title {
    line-height: 30px;
    margin-left: 32px;
    margin-right: 8px;
    font-weight: 600
}

.home-section-notice .notice-netcn {
    width: 336px;
    position: absolute;
    right: 0;
    top: 0
}

.home-section-notice .notice-netcn .notice-netcn-title {
    vertical-align: top;
    font-weight: 600
}

.home-section-notice .notice-netcn:hover .notice-netcn-quickview {
    display: none
}

.home-section-notice .notice-netcn:hover .group-title {
    border-top: 1px solid #f9fafb !important
}

.home-section-notice .notice-netcn .notice-netcn-quickview {
    width: 220px;
    display: inline-block
}

.home-section-notice .notice-netcn .notice-netcn-extra {
    background: #f2f2f2
}

.home-section-notice .notice-netcn .notice-netcn-extra a {
    display: inline
}

.aliyun-lego-console-notice .module-wrap .notice-list li {
    float: left;
    list-style: none;
    margin-right: 20px;
    line-height: 30px;
}

.aliyun-lego-console-notice .module-wrap .notice-list li .date {
    color: #999999;
    margin-right: 6px;
}
.item div:nth-child(2) {
	float: right;
}
