body{
  margin: 0;
}
a:link {
  box-shadow: none;
}
.clear
{
  clear: both;
}
.common{
  width: 100%;
  font-family: "Microsoft YaHei";
}
.common .head
{
  background: #434343;
  color: white;
  height: 40px;
  line-height: 40px;
}
.common .head img
{
  margin-top: 12px;
}
.common .head span
{
  float: right;
  margin-right: 20px;
}
.common .head span:first-child
{
  margin-right: 0px;
}
.common .head span a
{
  color: white;
  text-decoration: none;
}
.common .nav
{
  height: 80px;
  line-height: 80px;
  border-bottom: 2px solid #F2F2F2;
}
.common .nav img
{
  height: 35px;
  float: left;
  margin-top: 22.5px;
  cursor: pointer;
}
.common .nav .navul
{
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 20px;
}
.common .nav .navul li
{
  float: left;
  margin-left: 40px;
}
.common .nav .navul li a
{
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}
.common .nav .navul li a:hover
{
  color: #1E9219;
}
.common .foot
{
  height: 80px;
  background: #303030;
}
.common .foot .footul
{
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 16px;
  margin: auto;
  margin-top: 32px;
}
.common .foot .footul li
{
  float: left;
  padding-left: 20px;
  padding-right: 18px;
  border-right: 2px solid white;
  height: 14px;
  line-height: 14px;
}
.common .foot .footul li:last-child
{
  border-right: #303030;
}
.common .foot .footul li a
{
  color: white;
  text-decoration: none;
}
.erweima {
  position: relative;
}
.headimgdiv {
  width: 100px;
  position: absolute;
  top: 21px;
  right: -13px;
  z-index: 999;
  display: none;
}
.erweima:hover .headimgdiv{
  display: block;
}
.couslin {
  display: table;
  float: right;
  margin-left: 20px;
}
.couslin a {
  color: black;
  font-size: 15px;
}
.couslin a:hover {
  text-decoration: none;
}
.couslin a:link {
  text-decoration: none;
  box-shadow: none;
}
.sear {
  width: 180px;
  height: 28px;
  float: right;
  border: 1px solid #e1e1e1;
  margin-top: 25px;
  overflow: hidden;
}
.sear input {
  height: 26px;
  width: 150px;
  float: left;
  padding-left: 10px;
  border: 0px;
}
.sear #searImg {
  float: right;
  height: 28px;
  margin-top: 0px;
  margin-top: -1px;
}