<h4 style="margin-top:30px;margin-left:100px;width:20%">讲师申请合作</h4>



<div class="reg-box-pan display-inline">
  <div class="step" style="display:none">
    <ul>
      <li class="col-xs-4 on" id="steps1">
        <span class="num"><em class="f-r5"></em><i>1</i></span>
        <span class="line_bg lbg-r"></span>
        <p class="lbg-txt">填写合作表单</p>
      </li>
      <li class="col-xs-4 " id="steps2">
        <span class="num"><em class="f-r5"></em><i>2</i></span>
        <span class="line_bg lbg-l"></span>
        <span class="line_bg lbg-r"></span>
        <p class="lbg-txt">平台初审</p>
      </li>
      <li class="col-xs-4" id="steps3">
        <span class="num"><em class="f-r5"></em><i>3</i></span>
        <span class="line_bg lbg-l"></span>
        <p class="lbg-txt">完成</p>
      </li>
    </ul>
  </div>
</div>


<div class="container-fluid" id="list" style="height:610px;display:none">
  <div class="row-fluid">
    <div class="span12">
      <div class=" clearfix">
        <div style="text-align:center">
          <h3>申请合作</h3>
        </div>
        <br>
        <div id="signFrom" style="margin:0 auto;width:45%;margin-left:25%">
        </div>
        <div class="item form-group" style="margin:0 auto;width:30%">
          <div class="col-md-6 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <a id="save" href="#" class="btn btn-primary">提交申请</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--提交成功-->
<div class="container-fluid" id="submit" style="display:none;height:610px">
  <div class="row-fluid">
    <div class="span12">
      <div class="clearfix">
        <h3 class="text-center" style="color:mediumspringgreen;margin-top:10%">提交成功</h3>
        <p class="text-center" style="margin-top:5%;">平台会在三个工作日内对您的资料进行初审，并电话联系您，请您耐心等待!</p>
      </div>
    </div>
  </div>
</div>
<!--审批未通过-->
<div class="container-fluid" id="notpass" style="display:none;height:610px">
  <div class="row-fluid">
    <div class="span12">
      <div class="clearfix">
        <h3 class="text-center" style="color:#fa0000;margin-top:10%">审批未通过</h3>
        <p class="text-center" style="margin-top:5%;">请您完善资料后再次提交。谢谢! <a id="againsubmit" href="#" class="btn btn-primary">再次提交申请</a></p>
      </div>
    </div>
  </div>
</div>
<!--平台审核中-->
<div class="container-fluid" id="audit" style="display:none;height:610px">
  <div class="row-fluid">
    <div class="span12">
      <div class="clearfix">
        <h3 class="text-center" style="color:mediumspringgreen;margin-top:10%">平台审核中</h3>
        <p class="text-center" style="margin-top:5%;">您的申请已提交成功，平台会在三个工作日内对您的资料进行初审，请您耐心等待</p>
      </div>
    </div>
  </div>
</div>
<!--讲师被禁用-->
<div class="container-fluid" id="disableTacher" style="display:none;height:610px">
  <div class="row-fluid">
    <div class="span12">
      <div class="clearfix">
        <h3 class="text-center" style="color:mediumspringgreen;margin-top:10%">温馨提示</h3>
        <p class="text-center" style="margin-top:5%;">你的账号已经被禁用   <a href="/" title="点击访问" style="color:blue">点击返回首页</a></p>
      </div>
    </div>
  </div>
</div>

<!--审批通过-->
<div class="container-fluid" id="pass" style="display:none;height:610px">
  <div class="row-fluid">
    <div class="span12">
      <div class="clearfix">
        <h3 class="text-center" style="color:mediumspringgreen;margin-top:10%">申请通过</h3>
        <p class="text-center" style="margin-top:5%;">恭喜您成为LCPSP的讲师, <a href="/personal?url=/personal" title="点击访问" style="color:blue">立即完善讲师资料</a></p>
        <h4 style="text-align: center; margin-top: 30px;display:none" id="jumpUrl">系统将在 <span id="time" style="color:red">5</span> 秒钟后自动跳转至讲师管理，如果未能跳转，<a href="/courseManage" title="点击访问" style="color:blue">请点击</a>。</h4>
      </div>
    </div>
  </div>
</div>




{{#section 'appjs'}}
<script>
  var teacher = {{{jstringfiy teacher}}};
</script>
<script src="/teacher/index/bundle.js"></script> {{/section}} {{#section 'appcss'}}
<link rel="stylesheet" href="/teacher/index/bundle.css"> {{/section}}