<div class="fluid-container" style="font-family: 'Microsoft YaHei';margin:0px;padding:0px;width:100%; border:0px;">
  <div class="title" style="height:40px;">
    <div style="margin-top: 20px;">
      <span style="font-size:20px;margin-left:0px;float:left">专题订单</span>
      <div class="input-group" style="float:right;width:30%;">
        <input class="form-control" id="searchContent" style="width:80%" type="text" id="searchText" />
        <button id="searchBtn" class="btn btn-success" style="width:20%;font-size:14px;">搜&nbsp;&nbsp;索</button>
      </div>
    </div>
    <div style="clear: none;margin-bottom: 10px;"></div>
  </div>
  <div style="border:1px solid lightgrey;width:100%;height:754px;">
    <div style="margin-top:15px;width:100%;height:180px;font-size:16px;text-align: center;">
      <div style="width:100%;height:60px;">
        <div style="width:20%;float:left;height:60px;">
          <span style="width:50%;margin-top: 4px;float:left">订单状态: </span>
          <div style="width:50%;float:left">
            <select id="state" style="width: 120px;">
                <li>
                  <option value="全部">全部</option>
                </li>
                <li>
                  <option value="0">待付款</option>
                </li>
                <li>
                  <option value="1">已付款</option>
                </li>
                <li>
                  <option value="2">交易关闭</option>
                </li>
              </select>
          </div>
        </div>
        <div style="width:20%;float:left;height:60px;margin-left: 3%;">
          <span style="width:50%;">订单来源: </span>
          <select id="domain">
        <option value="全部">全部</option>
        {{#each domains}}
          <option value={{domain}}>{{domain}}</option>
        {{/each}}
      </select>
        </div>
      </div>

      <div style="width:100%;height:50px;">
        <span style="margin-top:4px;width:10%;float:left;">下单时间: </span>
        <div style="width:80%;float:left;">
          <input style="width:20%;float:left;" id="startTime" type="date" />
          <p style="width:5%;float:left;">—</p>
          <input id="endTime" style="width:20%;float:left;" type="date" />
          <button id="filterBtn" class="btn btn-success" style="margin-left:25px;margin-top:-2px;width:15%;font-size:15px;float:left">
                筛&nbsp;&nbsp;&nbsp;&nbsp;选
              </button>
        </div>
      </div>

      <div style="padding-left: 20px;">
        <div style="width:100%;height:30px;">
          <div style="width:15%;float:left;">
            <p style="width:50%;float:left;">有效订单总数</p>
            <span style="width:50%;float:left;" class="badge" id="total"></span>
          </div>
          <div style="width:15%;float:left;">
            <p style="width:50%;float:left;">本月新增</p>
            <span style="width:50%;float:left;" class="badge" id="monthTotal"></span>
          </div>
          <div style="width:15%;float:left;">
            <p style="width:50%;float:left;">本周新增 </p>
            <span style="width:50%;float:left;" class="badge" id="weekTotal"></span>
          </div>
        </div>

        <div style="margin-top:10px;width:100%;height:30px;">
          <div style="width:15%;float:left;">
            <p style="width:50%;float:left;">有效订单总金额</p>
            <span style="width:50%;float:left;" class="badge badge-success" id="amount"></span>
          </div>
          <div style="width:15%;float:left;">
            <p style="width:50%;float:left;">本月新增 </p>
            <span style="width:50%;float:left;" class="badge" id="monthAmount"></span>
          </div>
          <div style="width:15%;float:left;">
            <p style="width:50%;float:left;">本周新增 </p>
            <span style="width:50%;float:left;" class="badge" id="weekAmount"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="tableContainer" style="height:615px;padding-top:15px;">
    </div>
  </div>
</div>
</div>
</div>
<script>
  {{#if domains}}
  var domains = {{{jstringfiy domains}}};
  {{/if}}
</script>
{{#section 'appcss'}}
<link rel="stylesheet" href="/expert/expertPublish/bundle.css"> {{/section}} {{#section 'appjs'}}
<script src="/cms/collectionOrderManage/bundle.js"></script>
{{/section}}