<div class="console-title console-title-border clearfix">
  <div class="pull-left">
    <h5>网站配置</h5>
  </div>
  <div class="pull-right">
  </div>
</div>
<div id="searchBar" class="clearfix margin-top collapse in"></div>
<div class="console-table-wapper margin-top" style="position: relative;" >
<div id="big"></div>
<div id="topfoot"></div>
<div id="foottop"></div>
</div>
<div id="showInfo"></div>
{{#section 'appjs'}}
<script src="/cms/frontDeploy/bundle.js"></script>
{{/section}} {{#section 'appcss'}}
<link rel="stylesheet" href="/cms/frontDeploy/bundle.css"> {{/section}}