body {
	font-family: "Microsoft Yahei"!important;
}
#modifypwds {
	border: 1px solid #E4E4E4;
  width:85%;
	float:right;
}
.refer{
	font-size: 15px;
	float: left;
	margin-left: 20px;
  margin-top: -20px;
}
.message{
	width: 100%;
}
table{
	width:60%;
  margin: auto;
}
/*左侧菜单栏修改*/
#accordion{
	box-shadow: 0px 0px 0px 1px #E0E1E1;
	font-family: "Microsoft Yahei"!important;
	margin-top: 46px;
}
.newtip {
  font-family: "Microsoft Yahei";
  font-size:12px;
  color: #D9DADB;
}
.star {
  color: red;
}
.pholder {
  padding: 3px;
  width: 160px;
  height: 28px;
  font-size: 12px;
}
table tr td{
  padding-top: 30px;
}
table tr td:first-child {
  padding-right: 2%;
  text-align: right;
  font-size: 14px;
  width: 30%;
}
table tr td:nth-child(2) {
  height: 40px;
  width:70%;
}
#submitbtn {
  width: 120px;
  height: 30px;
  line-height: 30px;
  color: white;
  background: #3CCC86;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  margin: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
#footer {
   text-align: left;
   margin-left: 25%;
   margin-bottom: 20%;
}
.dropdown {
	cursor: pointer;
}
.load span a {
	color: #000000;
}
.load span a:hover {
	color: #21BA10;
}
.load{
  font-size: 12px;
}