.text-left {
  text-align: left !important;
  padding-left: 0px;
}

#cms_recommend_opcontent {
  display: none;
  padding-left: 20px;
}

.prebtn {
  margin-top: 5px;
  font-size: 16px;
}

.recommendmodal {
  width: 50%;
  margin: 1% auto;
}

.Select {
  padding-left: 0px;
  z-index: 1042
}