<div class="container">
  <div class="load">
    <span><a href="/personal?url=/personal" style="text-decoration:none;" id="manages">账号管理</a></span>&nbsp;>&nbsp;
    <span><a href="/modifypwd?url=/modifypwd" style="color:#21BA10;text-decoration:none;" id="modifypwd">安全设置</a></span>
  </div>
  <div class="pubmenu" style="float:left;width:13%;">
    <!-- nav -->
  </div>
  <div class="con" style="margin-top:45px;">
    <div class="contitle">
      <span class="refer">修改密码</span>
      {{#if error}}
					<div class="form-group row alert alert-warning alert-dismissible" role="alert">
        				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				{{error}}
    				</div>
					{{/if}}
    </div>
    <div style="clear: none;margin-bottom: 10px;"></div>
  </div>
  <div class="conbody" id="modifypwds">
      <div class="message">
        <!-- body -->
        <div class="modifypwd"></div>
      </div>
  </div>
</div>
{{#section 'appjs'}}
<script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/public/modifypwd/bundle.js"></script>
<script>
  $('#personal').css("color","#21BA10");
  // $('.p_index_logo').attr('src', '/images/logo2.png');
  document.getElementsByClassName('platform')[0].style.display = "none";
  document.getElementsByClassName('change')[0].style.display = "none";
</script>
{{/section}}
{{#section 'appcss'}}
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/public/modifypwd/bundle.css">
{{/section}}
