<div class="container">
  <div class="load">
    <span><a href="/personal?url=/personal" style="text-decoration:none;z-index:999;" id="manages">账号管理</a></span>&nbsp;>&nbsp;
    <span><a href="/personal?url=/personal" style="color:#21BA10;text-decoration:none;" id="personalData">个人资料</a></span>
  </div>
  <div class="pubmenu" style="float:left;width:13%;">
    <!-- nav -->
  </div>
  <div class="con" style="margin-top:45px;">
    <div class="contitle">
      <span class="refer">个人资料</span>
        <div class="navigation">
        <div style="float:right;">
        <div style="clear: none;"></div>
      </div>
      </div>
    </div>
    <div style="clear: none;margin-bottom: 10px;"></div>
  </div>
  <div class="conbody">
    <div class="message">
      <!-- body -->
      <div class="personal"></div>
    </div>
  </div>
</div>
{{#section 'appjs'}}
<script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/public/personal/bundle.js"></script>
{{/section}}
{{#section 'appcss'}}
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/public/personal/bundle.css">
{{/section}}