.clear {
  clear: both;
}
.sprest {
  font-family: 'Microsoft-YaHei';
}
.sprest .sptitle {
  padding: 5px 0 5px 0;
  font-size: 17px;
  font-weight: 600;
}
.sprest .spcon {
  border: 1px solid #e1e1e1;
}
.sprest .spconall {
  padding: 20px 0 20px 0;
}
.sprest .spconall .sphead {
  font-size: 15px;
  font-weight: 600;
}
.sprest .spconall .sphead span {
  display: table;
  float: left;
}
.sprest .spconall .sphead .headline {
  display: block;
  height: 19px;
  width: 3px;
  background: #28D898;
  margin-top: 1px;
  margin-right: 20px;
}
.sprest .spconall .sphead .headflag {
  font-size: 14px;
  color: red;
  margin-top: -2px;
  font-weight: 100;
}
.sprest .spconall .sptbdiv {
  padding: 20px 0 0 40px;
}
.sprest .spconall .sptbdiv .sptb {
  font-size: 14px;
  text-align: left;
  width: 800px;
}
.sprest .spconall .sptbdiv .sptb tr td {
  padding-bottom: 20px;
}
.sprest .spconall .sptbdiv .sptb tr td:first-child {
  vertical-align: top;
  padding-right: 15px;
  width: 100px;
}
.sprest .spconall .modelShow {
  float: left;
  width: 90px;
  height: 120px;
  overflow: hidden;
  margin-right: 15px;
}
.sprest .spconall .modelShow input:focus {
  outline-style: none;
  box-shadow: none;
}
.sprest .spconall .modelShow img {
  width: 100%;
  margin-top: 10px;
}
.sprest .spname {
  width: 200px;
  height: 30px;
  padding-left: 6px;
}
.sprest .spname:focus {
  outline-style: none;
  box-shadow: none;
  border-width: 1px;
}
.sprest .spconall .sptbdiv .sptb #midtd {
  vertical-align: middle;
}
.sprest .spconall .sptbdiv .sptb tr:nth-child(2) td:nth-child(2) {
  position: relative;
}
.sprest .namelength {
  position: absolute;
  bottom: 20px;
  margin-left: 10px;
  color: #A3A3A3;
}
.sprest .imgDiv {
  position: relative;
  width: 200px;
  /*height: 120px;*/
  overflow: hidden;
  float: left;
  cursor: pointer;
  margin-right: 10px;
}
.sprest .imgDiv img {
  width: 100%;
}
.sprest .imgDiv .imgbg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.2;
  display: none;
}
.sprest .imgDiv .selectImg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  top: calc(50% - 14px);
  top: -webkit-calc(50% - 14px);
  top: -moz-calc(50% - 14px);
  top: -ms-calc(50% - 14px);
  top: -o-calc(50% - 14px);
  left: calc(50% - 14px);
  left: -webkit-calc(50% - 14px);
  left: -moz-calc(50% - 14px);
  left: -ms-calc(50% - 14px);
  left: -o-calc(50% - 14px);
  display: none;
}
.sprest .imgDiv .selectImg img {
  width: 100%;
}
.sprest .imgDiv:hover .imgbg{
  display: block!important;
}
.sprest .imgDiv:hover .selectImg{
  display: block!important;
}
.sprest .spBgImg img {
  max-width: 700px;
}
.sprest .uploadBtn {
  margin-bottom: 5px;
}
.sprest .tips {
  color: #A3A3A3;
  font-size: 13px;
}
.sprest .imgEidtor {
  float: right;
}
.sprest .imgEidtor a {
  font-size: 14px;
  color: #28D898;
}
.sprest .imgEidtor a:hover {
  text-decoration: none;
  box-shadow: none;
}
.sprest .imgEidtor a:active {
  text-decoration: none;
  box-shadow: none;
}
.sprest .imgEidtor a:link {
  text-decoration: none;
  box-shadow: none;
}
.sprest .tipdiv {
  margin-top: 10px;
}
.sprest .bgColordiv {
  font-size: 14px;
  margin-top: 15px;
}
.sprest .bgColor {
  width: 100px;
  height: 30px;
}
input:focus {
  outline-style: none;
  box-shadow: none;
  border-width: 1px;
  padding-left: 6px;
}
.sprest .addClass {
  width: 70px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  background: #2BD2FC;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.sprest .partHead {
  color: #A3A3A3;
}
.sprest .partTitle {
  display: table;
  height: 26px;
  line-height: 26px;
  float: left;
}
.sprest .partTitle input {
  border: 1px solid #e1e1e1;
  height: 28px;
  padding-left: 5px;
  color: #000000;
}
.sprest .addCourse {
  padding: 5px;
  border-radius: 4px;
  background: #FFAD2C;
  color: #ffffff;
  float: right;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: pointer;
}

.sprest .delCourse {
  padding: 5px;
  border-radius: 4px;
  background: #A3A3A3;
  color: #ffffff;
  float: right;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: pointer;
  margin-left: 15px;
}

.sprest .partCourse {
  margin-top: 5px;
}
.sprest .partCL {
  width: 100%;
  font-size: 14px;
}
.sprest .spconall .sptbdiv .sptb .partCourse .partCL tr td {
  padding: 0;
  vertical-align: middle;
  padding-left: 20px;
}
.sprest .partCourse .partCL tr {
  border: 1px solid #e1e1e1;
  border-top: 0px;
}
.sprest .partCourse .partCL tr td {
  height: 40px;
}
.sprest .partCourse .partCL tr:first-child {
  background: #28D898;
  border: 1px solid #28D898;
}
.sprest .partCourse .partCL tr:first-child td {
  height: 28px;
  color: #ffffff;
}
.sprest .spconall .sptbdiv .sptb .partCourse .partCL tr td:nth-child(1) {
  width: 40%;
}
.sprest .spconall .sptbdiv .sptb .partCourse .partCL tr td:nth-child(2) {
  width: 20%;
}
.sprest .spconall .sptbdiv .sptb .partCourse .partCL tr td:nth-child(3) {
  width: 20%;
  color: red;
}
.sprest .spconall .sptbdiv .sptb .partCourse .partCL tr td:nth-child(4) {
  width: 20%;
}
.sprest .spconall .sptbdiv .sptb .partCourse .partCL tr:first-child td:nth-child(3) {
  color: #ffffff;
}
.sprest .tdEidtor .arr {
  font-weight: 800;
  padding: 5px;
  margin-left: 0px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.sprest .tdEidtor .del a {
  color: #2BD2FC;
}
.sprest .tdEidtor .del a:hover {
  color: #2BD2FC;
  text-decoration: none;
}
.sprest .tdEidtor .del a:link {
  box-shadow: none;
  text-decoration: none;
}
.sprest .partTB tr td:first-child {
  padding-top: 6px;
}
.sprest .recom {
  width: 200px;
  height: 120px;
  background: #F9F9F9;
  float: left;
  margin-right: 20px;
}
.sprest .ren {
  border: 1px dashed #000000;
  text-align: center;
  cursor: pointer;
}
.sprest .addrec {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  margin: auto;
  margin-top: 30px;
}
.sprest .addrec .line1 {
  position: absolute;
  width: 4px;
  height: 100%;
  background: #28D898;
  left: calc(50% - 2px);
  left: -webkit-calc(50% - 2px);
  left: -moz-calc(50% - 2px);
  left: -ms-calc(50% - 2px);
  left: -o-calc(50% - 2px);
}

.sprest .addrec .line2 {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #28D898;
  top: calc(50% - 2px);
  top: -webkit-calc(50% - 2px);
  top: -moz-calc(50% - 2px);
  top: -ms-calc(50% - 2px);
  top: -o-calc(50% - 2px);
}
.sprest .ren .renadd {
  margin-top: 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.sprest .rep {
  overflow: hidden;
  border: 0px;
  position: relative;
}
.sprest .rep img {
  width: 100%;
}
.sprest .rep .repEidtorBG {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  background: #000000;
  opacity: 0.5;
}
.sprest .rep .repEidtor {
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  bottom: 0;
  color: #ffffff;
  font-size: 18px;
}
.sprest .rep .repEidtor span {
  padding: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.sprest .rep .repEidtor span:nth-child(3) {
  float: right;
  padding: 0px;
  margin-right: 5px;
}
.sprest .price {
  width: 100px;
  height: 30px;
}
.sprest .sprFoot {
  padding: 60px 0 60px 0;
}
.sprest .sprFoot .footul {
  padding: 0;
  margin: 0;
  font-size: 16px;
  margin: auto;
  width: 266px;
}
.sprest .sprFoot .footul li {
  list-style: none;
  float: left;
  margin-right: 30px;
}
.sprest .sprFoot .footul li:nth-child(3) {
  margin-right: 0px;
}
.sprest .sprFoot .release {
  padding: 7px 30px 7px 30px;
  cursor: pointer;
  background: #28D898;
  border-radius: 4px;
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.sprest .sprFoot .footul li a {
  color: #2BD2FC;
}
.sprest .sprFoot .footul li a:hover {
  color: #2BD2FC;
  text-decoration: none;
}
.sprest .sprFoot .footul li a:link {
  box-shadow: none;
  text-decoration: none;
}
.addCourseBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 999;
  opacity: 0.5;
  display: none;
}
.addCourseBox {
  position: fixed;
  width: 800px;
  top: 50px;
  bottom: 0px;
  left: calc(50% - 400px);
  left: -webkit-calc(50% - 400px);
  left: -moz-calc(50% - 400px);
  left: -ms-calc(50% - 400px);
  left: -o-calc(50% - 400px);
  z-index: 999;
  background: #ffffff;
  overflow-x: hidden;
  display: none;
}
.courseHead {
  border-bottom: 1px solid #e1e1e1;
  height: 49px;
  line-height: 49px;
}
.courseHead span {
  font-size: 17px;
  margin-left: 20px;
}
.courseHead img {
  float: right;
  height: 48px;
  margin-right: -1px;
  cursor: pointer;
}
.courSel {
  margin-top: 15px;
  padding-left: 20px;
}
.courSel select{
  height: 26px;
  width: 120px;
}
.courSel input {
  float: right;
  margin-right: 15px;
}
.courSel .selBtn{
  padding: 2px 20px 2px 20px;
}
.courSel .recBtn {
  padding: 2px 20px 2px 20px;
}
.courSel .keyVal,.recKey{
  height: 25px;
  width: 120px;
  margin-bottom: -1px;
}
.courSel a {
  font-size: 16px;
  color: #000000;
}
.courSel a:hover {
  color: red!important;
}
a:link {
  box-shadow: none;
  text-decoration: none;
}
.addRecomBox {
  position: fixed;
  width: 800px;
  top: 50px;
  bottom: 0px;
  left: calc(50% - 400px);
  left: -webkit-calc(50% - 400px);
  left: -moz-calc(50% - 400px);
  left: -ms-calc(50% - 400px);
  left: -o-calc(50% - 400px);
  z-index: 999;
  background: #ffffff;
  overflow-x: hidden;
  display: none;
}