<div class="pubcon container" style="font-family: 'Microsoft YaHei';">
  <div class="load">
    <span><a href="/myCourses" style="color:black">学员端</a></span>&nbsp;>&nbsp;
    <span style="color:#00AA00">我的收藏</span>
  </div>

  <div class="pubmenu" style="float:left;width:13%;height:500px;">
    <!-- nav -->
  </div>
  <div class="con" style="margin-top:23px;">
    <div class="contitle">
      <span class="refer">我的收藏</span>
      <div class="navigation">
        <div style="float:right;">
          <div style="clear: none;"></div>
        </div>
      </div>
      <div style="clear: none;margin-bottom: 10px;"></div>
    </div>
    <div class="conbody" style=" width:85%;float:right;height:757px;border:1px solid #E0E1E1;">
      <div class='enshrine'>
      </div>
      <div class="null">
        <span>这里什么也没有~~</span>
        <a href="/course" target="_blank">去发现课程</a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
        <h4 class="modal-title" id="myModalLabel">取消收藏</h4>
      </div>
      <div class="modal-body" id="modalCon"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="dropEnshrine">
					确定
				</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          取消
				</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal -->
</div>
{{#section 'appcss'}}
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/enshrine/enshrine/bundle.css"> {{/section}} {{#section 'appjs'}}
<script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/enshrine/enshrine/bundle.js"></script>
<script>
  $(".load a").mouseover(function(e) {
    $(e.target).css("color","#00AA00");
  });
  $(".load a").mouseleave(function(e) {
    $(e.target).css("color","black");
  });
</script> {{/section}}