<div class="pubcon container" style="font-family: 'Microsoft YaHei';">
  <div class="load">
    <span><a href="/myCourses" style="color:black">学员端</a></span>&nbsp;>&nbsp;
    <span style="color:#00AA00">我的偷看</span>
  </div>

  <div class="pubmenu" style="float:left;width:13%;height:500px;">
    <!-- nav -->
  </div>
  <div class="con" style="margin-top:17px;">
    <div class="contitle">
      <span class="refer">我的偷看</span>
      <div class="navigation">
        <div style="float:right;">
        <div style="clear: none;"></div>
      </div>
      </div>
      <div style="clear: none;margin-bottom: 10px;"></div>
    </div>
    <div class="conbody" style=" width:85%;float:right;height:656px;border:1px solid #E0E1E1;">
      <div class="tableContainer"  style="height:656px;">
      </div>
    </div>
    </div>
  </div>
</div>

{{#section 'appcss'}}
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/expert/expertPublish/bundle.css">
{{/section}}

{{#section 'appjs'}}
<script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/course/myPeek/bundle.js"></script>
<script>
  $(".load a").mouseover(function(e) {
    $(e.target).css("color","#00AA00");
  });
  $(".load a").mouseleave(function(e) {
    $(e.target).css("color","black");
  });
</script>
{{/section}}

