<div class="container player" id="player_container" style="height:100%;width:100%;margin:0px;padding:0px;"></div>
<div class="buy-modal"></div>
<div class="exam-modal"></div>
{{#section 'appjs'}}
<script>
  var courseId = '{{courseId}}';
  var cidx = 0;
  var index = 0;
  {{#if cidx}}
  	cidx = '{{cidx}}';
  {{/if}}
  {{#if cidx}}
  	index = '{{index}}';
  {{/if}}
</script>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/player/player/bundle.js"></script>
<script>

</script>
{{/section}} 
{{#section 'appcss'}}
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/player/player/bundle.css"> 

{{/section}}