.basicInfo {
  width: 100%;
}
.basicInfo .btitle {
  height: 26px;
  line-height: 26px;
  margin-top: 20px;
  border-left: 4px solid #656565;
}
.basicInfo .btitle span {
  font-size: 16px;
  margin-left: 15px;
}
.basicInfo .basictb {
  font-size: 14px;
  margin-top: 60px;
  margin-left: 100px;
}
.basicInfo .basictb .star {
  color: red;
}
.basicInfo .basictb .suffix {
  color: #AEAEAE;
  font-size: 13px;
  margin-left: 10px;
}
.basicInfo .basictb .suffixbr {
  display: block;
  color: #AEAEAE;
  font-size: 13px;
  margin-top: 10px;
}
.basicInfo .basictb tr td {
  padding-bottom: 30px;
}
.basicInfo .basictb tr td:first-child {
  vertical-align: top;
  padding-top: 6px;
  padding-right: 20px;
}
.basicInfo .basictb input,select {
  padding: 5px;
  font-size: 13px;
}
.basicInfo .basictb select {
  width: 200px;
}
.basicInfo .basictb .name {
  width: 300px;
}
.basicInfo .basictb .price {
  width: 80px;
}
.basicInfo .basictb .next {
  width: 120px;
  height: 30px;
  line-height: 30px;
  color: white;
  background: #3CCC86;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  margin: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.basicInfo .basictb .imgDiv {
  position: relative;
  width: 90px;
  height: 55px;
  overflow: hidden;
  float: left;
  cursor: pointer;
  margin-right: 10px;
}
.basicInfo .basictb .imgDiv img {
  width: 100%;
}
.basicInfo .basictb .imgDiv .imgbg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0.2;
  display: none;
}
.basicInfo .basictb .imgDiv .selectImg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  top: calc(50% - 14px);
  top: -webkit-calc(50% - 14px);
  top: -moz-calc(50% - 14px);
  top: -ms-calc(50% - 14px);
  top: -o-calc(50% - 14px);
  left: calc(50% - 14px);
  left: -webkit-calc(50% - 14px);
  left: -moz-calc(50% - 14px);
  left: -ms-calc(50% - 14px);
  left: -o-calc(50% - 14px);
  display: none;
}
.basicInfo .basictb .imgDiv .selectImg img {
  width: 100%;
}
.basicInfo .basictb .imgDiv:hover .imgbg{
  display: block!important;
}
.basicInfo .basictb .imgDiv:hover .selectImg{
  display: block!important;
}

.basicInfo .basictb textarea {
  width: 500px;
  height: 120px;
  font-size: 13px;
  padding: 5px;
}
.basicInfoB {
  display: none;
}
.basicInfoB .basictb tr td:first-child {
  padding-top: 0px;
}
.basicInfoB .basictb tr td:last-child {
  padding-top: 3px;
}
.basicInfoB .basictb .btnDiv {
  display: table;
  margin: auto;
}

.basicInfoB .basictb .btnDiv .next {
  float: left;
  margin-left: 100px;
}
.basicInfoB .basictb .btnDiv .next2 {
  margin-right: 15px;
}
.basicInfoB .basictb .btnDiv .prov {
  margin-left: 15px;
  background: #F09C18;
}